* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 900;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #323232;
  background-color: #efefef;
}

.container {
  width: 100%;
  position: relative;
}
