@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.editor__form {
  margin: auto;
  width: 460px;
  padding: 30px;
  margin-top: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  animation: opacity 0.3s ease-in;
}

.editor__form fieldset {
  width: 100%;
  margin-top: 30px;
  border: none;
}

.editor__form fieldset input,
.editor__form fieldset textarea {
  width: 100%;
  padding: 15px;
  border: solid 1px #dedede;
  font-family: 'Montserrat', sans-serif;
  resize: none;
  margin-bottom: 15px;
}

.editor__form button {
  display: inline-block;
  padding: 10px;
  background-color: #4488aa;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: solid 2px transparent;
  cursor: pointer;
  margin: 0 7.5px 0 7.5px;
}

.editor__form button:hover {
  border: solid 2px #4488aa;
  background-color: transparent;
  color: #323232;
}

.editor__counter {
  margin-bottom: 15px;
}

.editor__form button.clear_button {
  background-color: #DE6B43;
}

.editor__form button.clear_button:hover {
  border: solid 2px #DE6B43;
  background-color: transparent;
  color: #323232;
}
